
.jumbotron {
    background-image: url(../images/yoga.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 542px;
    max-height: 542px;
}

.jumbotron > .container {
    background-color: rgba(0,0,0, 0.1);
    padding:60px 15px;
}

h1 {
    margin-bottom: 60px;
}
