$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    margin-top: 50px;
    background: #eee url(../images/fabric_plaid.png) repeat;
}

nav {
    background: #666 url(../images/binding_dark.png) repeat-x;
}

.toolbar {
    @extend .well;
    @extend .well-sm;
}

.aflow {
    @include clearfix();
    @extend .well;
    position: relative;
    text-align: center;
    cursor: pointer;

    // cool grayscale effect on hover
    filter: grayscale(1);
    &:hover {
        filter: grayscale(0);
    }

    .aflow-name {
        position: absolute;
        display: block;
        width: 480px;
        z-index: 9999;
        margin: 0;
        opacity: 0.8;
        font-size: 18px;
        line-height: 120px;

        span {
            padding: 20px 30px;
            max-width: 400px;
            background-color: #b0c4d3;
        }
    }

    .aflow-description {
        position: absolute;
        float: left !important;
        margin-left: 520px;
        height: 120px;
        text-align: left;

        h2 {
            font-size: 18px;
            margin: 0;
            padding: 0;

            margin-bottom: 20px;
        }
    }

    .aflow-preview {
        @include clearfix();
        @extend .list-unstyled;

        width: 480px;
        margin: 0;
        padding: 0;
        float: left !important;

        li {
            float: left !important;
            display: block;
            width: 120px;
            height: 120px;
            margin: 0;
            padding: 0;

            img {
                width: 120px;
                height: 120px;
            }
        }
    }

    .aflow-tools {
        margin-top: 20px;
    }
}

.pose-picker {
    background: #999 url(../images/low_contrast_linen.png) repeat-x;
    padding-bottom: 5px;
    box-shadow: 0 8px 5px -6px #444;
    border-bottom: 1px solid #000;

    .pose-picker-toolbar {
        @extend .container;
        padding: 10px 0;

        .searchbox {
            @extend .input-group;
            width: 300px;
        }
    }
    .pose-picker-archive {
        @extend .container;
        @extend .list-unstyled;
        @extend .list-inline;

        background: #999 url(../images/tweed.png) repeat-x;

        border-top: 2px solid #444;
        border-bottom: 2px solid #444;
        box-shadow: inset 0 0 5px #000;

        margin: 0;
        padding: 15px 20px;

        // horizontal scroll
        overflow-x: scroll;
        overflow-y: hidden;
        width: auto;
        white-space: nowrap;

        li {
            /*@extend .thumbnail;*/
            display: inline-block;
            height: 90px;
            width: 90px;
            padding: 0;
            margin: 0;
            margin-right: 10px;
            img {
                @extend .img-thumbnail;
                max-height: 90px;
                width: 90px;
                box-shadow: 1px 1px 2px 1px #444;
            }
            p {
                @extend .hide;
            }
        }
    }
}

#content {
    @include clearfix();
}

.section {
    @include make-md-column(10);
    @include make-md-column-offset(1);

    min-height: 150px;

    margin: 20px 0 0 0;
    padding: 0;

    // simulate page look
    overflow: visible;
    border-width: 1px;
    border-style: solid;
    border-color: #959595;
    background-color: #fff;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);

    &:first-child {
        margin-top: 30px;
    }

    .pose-list {
        @extend .list-unstyled;
        @extend .list-inline;

        padding: 20px;

        &.empty {
            @extend .text-center;
            color: #ccc;

            h2.drop-here-prompt {
                margin: 0;
                padding: 0;
                line-height: 140px;
            }
        }

        li {
            margin: 10px 20px;
            width: 120px;
            height: 120px;
            overflow: hidden;

            &.sortable-placeholder {
                border: 2px dashed #ccc;
            }
        }

        img {
            width: 120px;
            height: 120px;
        }
    }

    .section-toolbar {
        @include clearfix();
        @extend .text-right;

        padding: 10px;
        margin: 0;

        background-color: #ccc;

        .section-title {
            @extend .pull-left;
        }

        .section-options {
            @extend .pull-right;
        }
    }
}

.page-toolbar {
    @include make-md-column(10);
    @include make-md-column-offset(1);

    @extend .well;
    @extend .well-sm;

    margin-top: 20px;
}

footer {
    @extend .text-center;
    color: #666;
    padding: 10px;
}

/* draggables and sortables always have to be on top */
.ui-draggable-dragging,
.ui-sortable-helper {
    z-index: 1000;
}

